/* sections/selling-points.liquid */

/* Styling for the section */
.selling-points-section {
  padding-top: var(--promo-banner-padding-top, 40px);
  padding-bottom: var(--promo-banner-padding-bottom, 40px);
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
}

/* Styling for the grid */
.promo-banner__container {
  display: flex;
  flex-direction: var(--promo-banner-image-placement);
}

/* Styling for the icon */
.promo-banner__image-wrapper {
  width: var(--promo-banner-image-width, 60px);
  height: var(--promo-banner-image-width, 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.selling-points__icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  display: block;
}

/* Styling for the icon placeholder */
.selling-points__icon-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--color-foreground));
}

.selling-points__icon-placeholder .placeholder-svg {
  display: block;
  width: 100%;
  height: 100%;
}

/* Styling for the title and description */
.selling-points__title {
  margin: 0;
  font-weight: 600;
  font-size: 1.8rem; /* Example font size */
  margin-bottom: 0.5rem;
}

.selling-points__description {
  margin: 0;
  font-size: 1.4rem; /* Example font size */
  max-width: 100%;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .selling-points-section .selling-points__grid {
    grid-template-columns: 1fr 1fr;
  }

  .selling-points__item {
    flex-direction: column;
  }

  .selling-points__title {
    text-align: center;
  }

  .selling-points__description {
    text-align: center;
  }
}

